@tailwind base;
@tailwind components;
@tailwind utilities;

.food-back {
    background-image: url("./images/food-background2.jpg");
    margin-left: auto;
    margin-right: auto;
    max-width: 1550px;
}
button {
    background-color: rgb(0, 183, 255);
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    margin: 10px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: rgb(17, 118, 158);
}

body {
    background-color: darkgray;
    margin: auto;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 8px;
}

form {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}
