@tailwind base;
@tailwind components;
@tailwind utilities;

.food-back {
    background-image: url("./images/food.jpg");
    margin-left: auto;
    margin-right: auto;
}
button {
    background-color: rgb(3, 141, 196);
    color: white;
    padding: 10px;
    border-radius: 30px;
    margin: 10px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: rgb(17, 118, 158);
}

body {
    margin: auto;
    background-color: whitesmoke;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 20px;
    margin-bottom: 10px;
}

form {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
}

.map-back {
    background-image: url("./images/map.png");
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    max-width: 1050px;
}
